[submodule "favrm"]
	path = favrm
	url = https://github.com/cympfh/favrm
[submodule "twitter-shellbot"]
	path = twitter-shellbot
	url = git@github.com:cympfh/twitter-shellbot.git
[submodule "anime-notify"]
	path = anime-notify
	url = git@github.com:cympfh/ampeloss-anime-notify.git
[submodule "mastodon-broadcast"]
	path = mastodon-broadcast
	url = git@github.com:cympfh/mastodon-broadcast.git
[submodule "shellbot"]
	path = shellbot
	url = git@github.com:cympfh/shellbot.git
